<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Pizza API Portal</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.8/angular.min.js"></script>
  <script type="text/javascript" src="app.js"></script>
  <link rel="icon" href="favicon.png" type="image/png">
  <style type="text/css">.icon{max-height:3rem;margin-right:2rem;}</style>
</head>

<body ng-app="app" ng-controller="Controller">

  <na class="navbar navbar-dark bg-dark">
    <a href="" class="navbar-brand">
      <img class="icon" src="favicon.png" alt="">
      Pizza API Portal
    </a>
  </na>

  <div class="container pt-5">
    <div class="controls mb-3">
      <h3 class="text-center">Generic</h3>
      <div class="row mb-4 justify-content-center">
        <button class="btn btn-secondary mr-2 disabled" disabled>GET</button>
        <button class="btn btn-secondary mr-2" ng-repeat="route in routes" ng-click="fetch(route)">{{route}}</button>
      </div>
      <h3 class="text-center">Interactive</h3>
      <form>
        <div class="form-group">
          <label for="name">name</label>
          <input class="form-control mb-2" type="text" name="name" id="name" ng-model="name">
          <button class="btn btn-outline-secondary" ng-click="fetchPerson(name)">GET /people?name={{name}}</button>
        </div>
      </form>
      <form>
        <div class="form-group">
          <label for="pizza">meat</label>
          <select class="form-control mb-2" name="meat" id="meat" ng-model="meat">
            <option ng-repeat="pizza in pizzas" value="{{pizza.meat}}">{{pizza.meat}}</option>
          </select>
          <button class="btn btn-outline-secondary" ng-click="fetchPizza(meat)">GET /pizza?meat={{meat}}</button>
        </div>
      </form>
    </div>
    <hr>
    <h3 class="text-center">Retrieved Data</h3>
    <div class="alert alert-danger" ng-if="error">{{error}}</div>
    <div class="jumbotron">
      <ol>
        <li ng-repeat="item in data">{{item}}</li>
      </ol>
    </div>
  </div>

</body>

</html>